.panel.panel-default
  .panel-heading
    %i.fa.fa-vk
    = t('.header')
  .panel-body
    %div
      %b= current_user.name
    %div
      %small= t('.today', time: Time.zone.now.strftime('%H:%M'))
    %div= @company.vk.post_text
    %div= image_tag @company.vk.post_image, alt: @company.name, class: 'img-responsive'
  .panel-footer
    = link_to t('.share'), event_post_path(:vk), class: 'btn btn-primary btn-block'
.text-center= link_to t('.cancel'), auth_path
