= render 'shared/settings_links'

.row
  .col-md-8.col-md-offset-2
    - if @in.errors.any?
      = render 'shared/error_message', object: @in
    = form_for @in, url: social_in_path do |f|
      = render 'social/shared/form', f: f, object: @in
    .sr-only= "group_id: #{@in.group_id}"
