= form_tag event_post_path(:fb) do
  .panel.panel-default
    .panel-heading
      %i.fa.fa-facebook-square
      = t('.header')
    .panel-body
      %div
        %b= current_user.name
      %div
        %small= t('.today', time: Time.zone.now.strftime('%H:%M'))
      %div= text_area_tag :post_text, nil, rows: 3, placeholder: t('.placeholder_post_text'), class: 'form-control'
      %div= @company.fb.post_text
      %div= image_tag @company.fb.post_image, alt: @company.name, class: 'img-responsive'
    .panel-footer
      = submit_tag t('.share'), class: 'btn btn-primary btn-block'
.text-center= link_to t('.cancel'), auth_path
