= render 'shared/settings_links'

.row
  .col-md-8.col-md-offset-2
    - if @fb.errors.any?
      = render 'shared/error_message', object: @fb
    = form_for @fb, url: social_fb_path do |f|
      = render 'social/shared/form', f: f, object: @fb
    .sr-only= "group_id: #{@fb.group_id}"
