.text-center
  %h1= @company.name
  %p This is a free wifi hotspot. You need to sign in with a social network.
  %ul.list-inline
    - if @company.fb && @company.fb.action?
      %li
        = link_to '/auth/facebook' do
          = image_tag 'facebook.png'
    - if @company.tw && @company.tw.action?
      %li
        = link_to '/auth/twitter' do
          = image_tag 'twitter.png'
    - if @company.vk && @company.vk.action?
      %li
        = link_to '/auth/vkontakte' do
          = image_tag 'vkontakte.png'
    -# - if @company.ok && @company.ok.action?
    -#   %li
    -#     = link_to '/auth/odnoklassniki' do
    -#       = image_tag 'ok.png'
