.text-center
  %h1= @company.name
  %p= t('.welcome')
  %ul.list-inline
    - unless @company.fb.action.eql?('disabled')
      %li
        = link_to '/auth/facebook', class: 'social' do
          = image_tag 'facebook.png'
    - unless @company.tw.action.eql?('disabled')
      %li
        = link_to '/auth/twitter', class: 'social' do
          = image_tag 'twitter.png'
    - unless @company.vk.action.eql?('disabled')
      %li
        = link_to '/auth/vkontakte', class: 'social' do
          = image_tag 'vkontakte.png'
    - unless @company.in.action.eql?('disabled')
      %li
        = link_to '/auth/instagram', class: 'social' do
          = image_tag 'instagram.png'
    - unless @company.ok.action.eql?('disabled')
      %li
        = link_to '/auth/odnoklassniki', class: 'social' do
          = image_tag 'ok.png'
  - if @company.card?
    %h3.text-center
      = link_to t('.download_card'), @company.card.url,
        download: @company.name.underscore.parameterize("_"),
        onclick: "location='#{router_url}'", class: 'btn btn-primary'
  = image_tag @company.cover.url, alt: @company.name, class: 'img-responsive' if @company.cover?

:javascript
  $('.social').click(function(){
    $('.preloader').toggle()
  })
