.text-center
  %h1= @company.name
  %p This is a free wifi hotspot. You need to sign in with a social network.
  %ul.list-inline
    - unless @company.fb.action.eql?('disabled')
      %li
        = link_to '/auth/facebook' do
          = image_tag 'facebook.png'
    - unless @company.tw.action.eql?('disabled')
      %li
        = link_to '/auth/twitter' do
          = image_tag 'twitter.png'
    - unless @company.vk.action.eql?('disabled')
      %li
        = link_to '/auth/vkontakte' do
          = image_tag 'vkontakte.png'
    -# - if @company.ok && @company.ok.action?
    -#   %li
    -#     = link_to '/auth/odnoklassniki' do
    -#       = image_tag 'ok.png'
  = image_tag @company.cover.url, alt: @company.name, class: 'img-responsive'

