= form_for @admin_scheduler_event do |f|
  - if @admin_scheduler_event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_scheduler_event.errors.count, "error")} prohibited this admin_scheduler_event from being saved:"
      %ul
        - @admin_scheduler_event.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
