%h2= t('.devices')
.row
  .col-md-6
    %h3= t('.providers')
    %table.table.table-striped
      %thead
        %th
        %th= t('.user_account')
      %tbody
        - if @device
          - @device.providers.each do |user|
            %tr
              %th{width: '15%'}= fa_icon icon_class_by user.provider
              %td= link_to user.name, user
    - if @phones.any?
      %h3= t('.phones')
      %table.table.table-striped
        %thead
          %th= t('.user_phone')
        %tbody
          - @phones.each do |phone|
            %tr
              %td= phone
  .col-md-6
    %h3= t('.events_by_device')
    %table.table.table-striped
      %thead
        %th
        %th= t('.time')
        %th= t('.action')
        %th= t('.link')
      %tbody
