- if @router.present?

  - mk = @router.resources[0]
  .container
    .row
      %table.table.table-striped.text-center
        %tbody
          %thead
            %th.text-center= t('.name')
            %th.text-center= t('.ip_address')
            %th.text-center= t('.board-name')
            %th.text-center= t('.version')
            %th.text-center= t('.uptime')
            %th.text-center= t('.cpu-load')
            %th.text-center= t('.free-memory')
            %th.text-center= t('.free-hdd')
          %tr
            %td= @router.name
            %td= @router.ip_address
            %td= mk['board-name']
            %td= mk['version']
            %td= mk['uptime']
            %td= number_to_percentage(mk['cpu-load'], precision: 2)
            %td= number_to_human_size(mk['free-memory'])
            %td= number_to_human_size(mk['free-hdd-space'])
    .row
      .col-md-5
        %h3= t('.users')
        %table.table.table-striped.text-center
          %tbody
            %thead
              %th.text-center= t('.user_mac')
              %th.text-center= t('.user_signal')
              %th.text-center= t('.uptime')
              %th.text-center= t('.user_bytes')

            - if @router.wifi_users.present?
              - @router.wifi_users.each do |user|
                %tr
                  %td= user['mac-address']
                  %td= user['signal-strength']
                  %td= user['uptime']
                  %td= user['bytes']
            - else
              .alert-success.text-center= t('.no_wifi_users')
        - @router.hotspot_connections(@company.token).each do |connection|
          .well
            %p= "#{connection['src-address']} => #{connection['dst-address']}"
      .col-md-7
        %h3= t('.settings')
        .col-md-4
          %h5= t('.hotspot_settings')
          %ul
          - @router.hotspot_servers.each do |server|
            %li= server['name']
        .col-md-4
          %h5= t('.wifi_settings')
          %ul
          - @router.wifi_interfaces.each do |interface|
            %li= interface['name']
        .col-md-4
          %h5= t('.cloud_settings')
          %ul
          - @router.l2tp_clients.each do |client|
            %li= client['name']
          .well
