%h3= t('.users')

.table-responsive
  %table.table.table-striped
    %thead
      %th= t('.name')
      %th= t('.provider')
      %th= t('.uid')
      %th= t('.created')
      %th= t('.updated')
    %tbody
      - @users.each do |user|
        %tr
          = render user
