%h3 User

.col-md-6.col-md-offset-3
  %table.table.table-striped
    %tr
      %th{width: '20%'}= t('.name')
      %td= @user.name if @user.name
    %tr
      %th= t('.provider')
      %td= @user.provider
    %tr
      %th= t('.uid')
      %td= @user.uid
    %tr
      %th= t('.birthday')
      %td= @user.birthday
    %tr
      %th= t('.url')
      %td= link_to @user.url, @user.url
    %tr
      %th= t('.email')
      %td= @user.email
    %tr
      %th= t('.gender')
      %td= @user.gender
  %p= link_to t('.back'), :back
