%h3= t('.user')

.row
  .col-md-6
    %h3= t('.information')
    %table.table.table-striped
      %tr
        %th{width: '20%'}= t('.name')
        %td= @user.name if @user.name
      %tr
        %th= t('.provider')
        %td= @user.provider
      %tr
        %th= t('.uid')
        %td= @user.uid
      %tr
        %th= t('.birthday')
        %td= @user.birthday
      %tr
        %th= t('.url')
        %td= link_to @user.url, @user.url
      %tr
        %th= t('.email')
        %td= @user.email
      %tr
        %th= t('.gender')
        %td= @user.gender
    %p= link_to t('.back'), :back
  .col-md-6
    %h3= t('.user_devices')
    %table.table.table-striped
      - @user.macs.each do |mac|
        %tr
          %td= link_to mac, device_path(mac)
