%h2 Settings
%ul.nav.nav-tabs.nav-justified.settings-links
  %li{class: "#{controller?('settings') && action?('edit')? 'active' : ''}"}
    = link_to edit_settings_path do
      %i.fa.fa-lg.fa-home
      Start page
  %li{class: "#{controller?('fbs') ? 'active' : ''}"}
    = link_to edit_settings_fb_path do
      %i.fa.fa-lg.fa-facebook-square
      Facebook
  %li{class: "#{controller?('vks') ? 'active' : ''}"}
    = link_to edit_settings_vk_path do
      %i.fa.fa-lg.fa-vk
      Vkontakte
  %li{class: "#{controller?('tws') ? 'active' : ''}"}
    = link_to edit_settings_tw_path do
      %i.fa.fa-lg.fa-twitter-square
      Twitter
  %li{class: "#{controller?('ins') ? 'active' : ''}"}
    = link_to '#' do
      %i.fa.fa-lg.fa-instagram
      Instagram
  %li{class: "#{controller?('oks') ? 'active' : ''}"}
    = link_to '#' do
      %i.fa.fa-lg.fa-odnoklassniki-square
      Odnoklassniki
  %li{class: "#{controller?('settings') && action?('advanced') ? 'active' : ''}"}
    = link_to advanced_settings_path do
      %i.fa.fa-lg.fa-cogs
      Advanced
