= render 'shared/settings_links'

- if @vk
  .row
    .col-md-6.col-md-offset-3
      %table.table
        %tr
          %th Group
          %td= @vk.group_name
        %tr
          %th Text on the wall
          %td= @vk.post_text
        %tr
          %th Image on the wall
          %td= @vk.post_image
        %tr
          %th Link
          %td= @vk.post_link
        %tr
          %th Redirection
          %td= @vk.link_redirect
        %tr
          %th Action
          %td= @vk.action
      %p= link_to 'Edit', edit_settings_vk_path, class: 'btn btn-default'
- else
  %p= link_to 'Add vk', new_settings_vk_path, class: 'btn btn-primary'
