= render 'shared/settings_links'

.row
  .col-md-offset-4.col-md-4
    = form_for @company, url: advanced_settings_path, method: :put do |f|
      .form-group
        = f.label :card, t('.card')
        - if @company.card?
          %div
          = image_tag(@company.card)
        = f.file_field :card
        %p.help-block
          = @company.card.extension_white_list.join(', ')
        = f.hidden_field :card_cache
      %div.checkbox
        %label
          = f.check_box :remove_card
          = f.label :remove_card, t('.remove_card')
      .form-group
        = f.submit t('.save'), class: 'btn btn-primary'
