= render 'shared/settings_links'

.row
  .col-md-offset-4.col-md-4
    = form_for @company, url: settings_path, method: :put do |f|
      = fields_for @company.fb do |fb|
        .form-group
          = fb.label :facebook
          = fb.select :action, [[t('.like_page'), :join], [t('.make_post'), :post], [t('.just_auth'), :auth], [t('.disabled'), :disabled]], {}, class: 'form-control'
      = fields_for @company.vk do |vk|
        .form-group
          = vk.label :vkontakte
          = vk.select :action, [[t('.join_group'), :join], [t('.make_post'), :post], [t('.just_auth'), :auth], [t('.disabled'), :disabled]], {}, class: 'form-control'
      = fields_for @company.tw do |tw|
        .form-group
          = tw.label :twitter
          = tw.select :action,[[t('.follow'), :join], [t('.make_tweet'), :post], [t('.just_auth'), :auth], [t('.disabled'), :disabled]], {}, class: 'form-control'
      = fields_for @company.in do |ins|
        .form-group
          = ins.label :instagram
          = ins.select :action, [[t('.just_auth'), :auth], [t('.disabled'), :disabled]], {}, class: 'form-control'
      = fields_for @company.ok do |ok|
        .form-group
          = ok.label :odnoklassniki
          = ok.select :action, [[t('.join_group'), :join], [t('.just_auth'), :auth], [t('.disabled'), :disabled]], {}, class: 'form-control'
      .form-group
        = f.label :cover, t('.cover')
        - if @company.cover?
          %div
          = image_tag(@company.cover)
        = f.file_field :cover
        %p.help-block
          = @company.cover.extension_white_list.join(', ')
        = f.hidden_field :cover_cache
      %div.checkbox
        %label
          = f.check_box :remove_cover
          = f.label :remove_cover, t('.remove_cover')
      .form-group
        = f.submit t('.save'), class: 'btn btn-primary'
