= render 'shared/settings_links'

.row
  .col-md-offset-4.col-md-4
    = form_for @company, url: settings_path, method: :put do |f|
      - acts = [['Join group', :join], ['Make post', :post], ['Just auth', :auth], ['Auth + Card', :card], ['Disabled', :disabled]]
      = fields_for @company.fb do |fb|
        .form-group
          = fb.label :facebook
          = fb.select :action, acts, {}, class: 'form-control'
      = fields_for @company.vk do |vk|
        .form-group
          = vk.label :vkontakte
          = vk.select :action, acts, {}, class: 'form-control'
      = fields_for @company.tw do |tw|
        .form-group
          = tw.label :twitter
          = tw.select :action, acts, {}, class: 'form-control'
      .form-group
        = f.label :cover
        - if @company.cover?
          %div
          = image_tag(@company.cover)
        = f.file_field :cover
        %p.help-block
          = @company.cover.extension_white_list.join(', ')
        = f.hidden_field :cover_cache
      %div.checkbox
        %label
          = f.check_box :remove_cover
          = f.label :remove_cover
      .form-group
        = f.submit 'Save settings', class: 'btn btn-primary'
