= render 'header'
.row
  .col-md-offset-4.col-md-4
    = form_for :sms, url: sms_auth_validate_path do |f|
      .form-group
        = f.label :code, t('.code')
        = f.text_field :code, class: 'form-control'
      .form-group
        = f.submit t('.confirm'), class: 'btn btn-primary'
    = link_to t('.back'), sms_auth_path
