%h2= t('.all_companies')

- if @companies
  .table-responsive
    %table.table.table-striped
      %thead
        %th= t('.name')
        %th= t('.contact')
        %th= t('.phone')
        %th= t('.address')
        %th= t('.token')
        %th= t('.options')
      - @companies.each do |company|
        %tr
          %td= company.name
          %td= company.owner_name
          %td= company.phone
          %td= company.address
          %td= company.token
          %td= link_to t('.show'), company_path(company)
  %p= link_to t('.add_new'), new_company_path, class: 'btn btn-primary'
