%h2= t('.new_admin_company', name: @company.name)

.row
  .col-md-offset-4.col-md-4
    = form_for @admin, url: admin_company_path(@company) do |f|
      .form-group
        = f.label :email, t('.email')
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        = f.label :password, t('.password')
        = f.password_field :password, autocomplete: 'off', class: 'form-control'
      .form-group
        = f.label :password_confirmation, t('.password_confirmation')
        = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
      .form-group
        = f.submit t('.register'), class: 'btn btn-primary'
    %p= link_to t('.back'), company_path(@company)

