%h2= t('.company', name: @company.name)

.row
  .col-md-6
    %h3= t('.details')
    %table.table.table-striped
      %thead
        %th= t('.attribute')
        %th= t('.description')
      %tbody
        %tr
          %th= t('.name')
          %td= @company.name
        %tr
          %th= t('.contact')
          %td= @company.owner_name
        %tr
          %th= t('.phone')
          %td= @company.phone
        %tr
          %th= t('.address')
          %td= @company.address
        %tr
          %th= t('.token')
          %td= @company.token
        %tr
          %th= t('.options')
          %td
            = link_to t('.edit'), edit_company_path(@company)
            = link_to company_path(@company), method: :delete,
                                             data: { confirm: t('.sure') } do
              = t('.delete')
  .col-md-6
    %h3= t('.admins')
    %table.table.table-striped
      %thead
        %th= t('.email')
        %th= t('.last_signin')
      %tbody
        - @admins.each do |admin|
          %tr
            %td= admin.email
            %td= admin.last_sign_in_at
    %p= link_to t('.add_new'), new_company_admin_path(@company), class: 'btn btn-primary'
.row
  .col-md-6
    %h3= t('.last_events')
    %table.table.table-striped
      %thead
        %th
        %th= t('dashboards.show.time')
        %th= t('dashboards.show.action')
        %th= t('dashboards.show.link')
      %tbody
        - @company.events.last25.each do |event|
          %tr
            %th= fa_icon icon_class_by event.user.provider
            %td= event.created_at
            %td= humanize_event(event.action)
            %td= link_to event.user.name, user_path(event.user)
