= render 'shared/settings_links'

.row
  .col-md-offset-4.col-md-4
    - if @guest.errors.any?
      = render 'shared/error_message', object: @guest
    = form_for @guest, url: social_guest_path do |f|
      .checkbox
        %label
          = f.check_box :adv
          = f.label :adv, t('.advert')
      .form-group
        = f.label :wall_head, t('.wall_head')
        = f.text_field :wall_head, class: 'form-control'
      .form-group
        = f.label :wall_text, t('.wall_text')
        = f.text_area :wall_text, row: 4, class: 'form-control'
      .form-group
        = f.label :link_redirect, t('.link_redirect')
        = f.url_field :link_redirect, class: 'form-control'
      .form-group
        = f.label :password, t('.password')
        = f.password_field :password, class: 'form-control'
      .form-group
        = f.label :wall_image, t('.wall_image')
        - if @guest.wall_image?
          %div
            = image_tag(@guest.wall_image)
        = f.file_field :wall_image
        %p.help-block
          537x240px:
          = @guest.wall_image.extension_white_list.join(', ')
        = f.hidden_field :wall_image_cache
      .checkbox
        %label
          = f.check_box :remove_wall_image
          = f.label :remove_wall_image, t('.remove_wall_image')
      .form-group
        = f.submit class: 'btn btn-primary'
