%h2 Dashboard

.col-md-3
  %h4 Statistics by month
  = form_tag :dashboard, method: 'get' do
    - month = params[:date] ? params[:date][:month].to_i : Date.today
    = select_month month, {}, {class: 'form-control', onchange: 'this.form.submit()'}
  %h4 Current settings
  %table
    %tr
      %td
        %i.fa.fa-facebook-square
      %td
        = @company.fb.nil? ? 'off' : @company.fb.action
    %tr
      %td
        %i.fa.fa-vk
      %td
        = @company.vk.nil? ? 'off' : @company.vk.action
    %tr
      %td
        %i.fa.fa-twitter-square
      %td
        = @company.tw.nil? ? 'off' : @company.tw.action
    %tr
      %td
        %i.fa.fa-instagram
      %td
        -# = @company.in.nil? ? 'off' : @company.in.action
    %tr
      %td
        %i.fa.fa-odnoklassniki
      %td
        -# = @company.ok.nil? ? 'off' : @company.ok.action
.col-md-9
  .col-md-5
    %table.table.table-striped.table-hover
      %thead
        %tr.text-center
          %th Date
          %th
            %i.fa.fa-facebook-square
            = @events.social_count(:facebook)
          %th
            %i.fa.fa-vk
            = @events.social_count(:vkontakte)
          %th
            %i.fa.fa-twitter-square
            = @events.social_count(:twitter)
          %th
            %i.fa.fa-instagram
            = @events.social_count(:instagram)
          %th
            %i.fa.fa-odnoklassniki
            = @events.social_count(:odnoklassniki)
      %tbody
        - @days_range.each do |event_date|
          %tr.event-row{'data-event-date': event_date}
            %td= event_date
            %td= @events.by_date(event_date).social_count(:facebook)
            %td= @events.by_date(event_date).social_count(:vkontakte)
            %td= @events.by_date(event_date).social_count(:twitter)
            %td= @events.by_date(event_date).social_count(:instagram)
            %td= @events.by_date(event_date).social_count(:odnoklassniki)
  .col-md-7
    %table.table.table-striped
      %thead
        %th
        %th Time
        %th Action
        %th Link
      %tbody#events

:javascript
  var eventDate = "#{params[:date] == Time.current.month ? Time.zone.now.to_date : nil}";
  var getEvents = $.post("#{events_by_date_path}", { date: eventDate });
  $(".event-row:first").addClass("info");

  getEvents.done(function(data) {
    $("#events").empty().append(data);
  });

  $(".event-row").on("click", function() {
    var selected = $(this).hasClass("info");
    var eventDate = $(this).attr("data-event-date");
    var getEvents = $.post("#{events_by_date_path}", { date: eventDate });

    getEvents.done(function(data) {
      $("#events").empty().append(data);
    });

    $(".event-row").removeClass("info");

    if(!selected) {
      $(this).addClass("info");
    }
  });
