= form_for @in, url: settings_in_path do |f|
  .form-group
    = f.label :group_name
    = f.text_field :group_name, class: 'form-control'
  .form-group
    = f.label :post_text
    = f.text_area :post_text, row: 2, class: 'form-control'
  .form-group
    = f.label :post_link
    = f.text_field :post_link, class: 'form-control'
  .form-group
    = f.label :link_redirect
    = f.text_field :link_redirect, class: 'form-control'
  .form-group
    = f.label :post_image
    - if @in.post_image?
      %div
      = image_tag(@in.post_image)
    = f.file_field :post_image
    %p.help-block
      537x240px:
      = @in.post_image.extension_white_list.join(', ')
    = f.hidden_field :post_image_cache
  %div.checkbox
    %label
      = f.check_box :remove_post_image
      = f.label :remove_post_image
  .form-group
    = f.submit class: 'btn btn-primary'
