%h2= t('.statistics')
.row
  .col-md-12
    %h3= t('.activity')
    = line_chart activity_stats_path
.row
  .col-md-4
    %h3= t('.social_networks')
    = pie_chart social_networks_stats_path
  .col-md-4
    %h3= t('.events')
    = pie_chart events_stats_path
  .col-md-4
    %h3= t('.gender')
    = pie_chart gender_stats_path
