- if admin_signed_in?
  - if current_admin.admin?
    %li= link_to 'Companies', companies_path
  - else
    %li= link_to 'Dashboard', dashboard_path
    %li= link_to 'Statistics', stats_path
    %li= link_to 'Settings', edit_settings_path
  %li.dropdown
    = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown', role: 'button', 'aria-haspopup': true, 'aria-expanded': false } do
      = image_tag get_avatar, class: 'profile-image img-circle'
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to users_path do
          %span.gl-right.glyphicon.glyphicon-th-list
          All Users
      %li
        = link_to edit_admin_registration_path do
          %span.gl-right.glyphicon.glyphicon-user
          Profile
      %li.divider{role: 'separator'}
      %li
        = link_to destroy_admin_session_path, method: :delete do
          %span.gl-right.glyphicon.glyphicon-log-out
          Sign out
