- if admin_signed_in?
  - if current_admin.admin?
    %li= link_to t('.companies'), companies_path
  - else
    %li= link_to t('.dashboard'), dashboard_path
    %li= link_to t('.statistics'), stats_path
    %li= link_to t('.tos'), tos_pages_path
    %li= link_to t('.settings'), edit_settings_path
  %li.dropdown
    = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown', role: 'button', 'aria-haspopup': true, 'aria-expanded': false } do
      = image_tag get_avatar, class: 'profile-image img-circle'
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to users_path do
          %span.gl-right.glyphicon.glyphicon-th-list
          = t('.all_users')
      %li
        = link_to edit_admin_registration_path do
          %span.gl-right.glyphicon.glyphicon-user
          = t('.profile')
      %li.divider{role: 'separator'}
      %li
        = link_to destroy_admin_session_path, method: :delete do
          %span.gl-right.glyphicon.glyphicon-log-out
          = t('.sign_out')
