- if admin_signed_in?
  %li.dropdown
    = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown', role: 'button', 'aria-haspopup': true, 'aria-expanded': false } do
      = image_tag get_avatar, class: 'profile-image img-circle'
      = current_admin.email
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to dashboard_path do
          %span.gl-right.glyphicon.glyphicon-dashboard
          Dashboard
      %li
        = link_to companies_path do
          %span.gl-right.glyphicon.glyphicon-wrench
          Companies
      %li
        = link_to settings_path do
          %span.gl-right.glyphicon.glyphicon-cog
          Settings
      %li
        = link_to users_path do
          %span.gl-right.glyphicon.glyphicon-th-list
          All Users
      %li
        = link_to edit_admin_registration_path do
          %span.gl-right.glyphicon.glyphicon-user
          Profile
      %li.divider{role: 'separator'}
      %li
        = link_to destroy_admin_session_path, method: :delete do
          %span.gl-right.glyphicon.glyphicon-log-out
          Sign out
- else
  %li= link_to 'Sign in', new_admin_session_path
